.winnerTxt{
    fill: black;
}
.partTxt{
    fill: #C6DEF1;
}
.addTxt{
    fill: #508EA5;
}
.less{
    opacity: .2;
    fill: #ffffff;
}
.winner{
    fill: red;
    font-size: 1.5rem;
}
.hide{
    display: none;
}
.warn{
    color: yellow;
    padding-left: 2%;
}
.error{
    color: red;
    padding-left: 2%;
}
.info{
    color: #508EA5;
    padding: .5%;
}
.loggedIn{
    border: 1px #008000;
}
#spInfo{
    background-color: #000;
}