yarn.lock
/archive.zip
test.json
mockData.json
localIndex.js
client/pack.js
ses-smtp-dcorns-Credentials.csv

/firebaseTesting/
/forkTesting/
/lambda-lib/lambdaEmailer/node_modules/
/lambda-lib/lambdaEmailer/archive.zip
/lambda-lib/lambdaMakeToken/node_modules/
/lambda-lib/lambdaMakeToken/archive.zip
/lambda-lib/lambdaMakeToken/serviceAccount.json
/lambda-lib/lambdaWriteHash/node_modules/
/lambda-lib/lambdaWriteHash/archive.zip
/lambda-lib/lambdaWriteHash/serviceAccount.json
/lambda-lib/lambdaLogin/serviceAccount.json
/lambda-lib/lambdaLogin/archive.zip
/lambda-lib/lambdaLogin/node_modules/
/lambda-lib/lambdaAuthorization/serviceAccount.json
/lambda-lib/lambdaAuthorization/node_modules/
/lambda-lib/lambdaLogin/test/
/lambda-lib/lambdaLogin/dbinit-test.js
/lambda-lib/lambdaLogin/sendAuthEmail-test.js
/lambda-lib/lambdaLogin/index-test.js
/lambda-lib/lambdaAuthorization/modules/serviceAccount.json
/moduleTesting/
